<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_fone_haus_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_fone_haus_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fonehaus">

        <activity
            android:name=".CategoryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProductListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProductDetailsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CartActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CheckoutActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OrderConfirmationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
